

    @{
        ViewData["Title"] = "Home Page";
    }
    
    <h2>Index</h2>

    
    <div id="content"></div>
    
    <div id="content_buttom"></div>
    
    
    <script src="~/jsx/tutorial.jsx" type="text/babel"></script>
    <script src="~/jsx/login.jsx" type="text/babel"></script>
    